<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.bsp.mapper.UserInfoMapper">
 
  <select id="findUserInfo" resultType="com.green.bsp.pojo.UserInfo">
    select username, password from tbl_userinfo;
  </select>
  
  <select id="findSalaryInfo" resultType="com.green.bsp.pojo.SalaryInfo">
    select username, password from tbl_salaryinfo;
  </select>
  
 
</mapper>